.contenedor{
    display: flex
}


.cuadrado{
	width: 100px;
	height: 100px;
	cursor: pointer;
}

.azul{
	background-color: blue;
}

.violeta{
	background-color: blueviolet;
}

.marron{
	background-color:brown ;
}